h1 {
    text-align: center;
    background-color: white;
    border: solid;
    border-radius: 8px;
    padding: 10px;
}
#start {
    text-align: center;
    background-color: white;
    border: solid;
    padding-bottom: 20px;
    width: 300px;

}
#trophylist {
    background-color:white;
    border: solid;
    padding-bottom: 20px;
    width: 300px;
}
#portfolio{
    background-color: white;
    border: solid;
    padding-bottom: 20px;
    width: 300px;
}
#kek{
    text-align: center;

}
