table {
    margin: 0 auto;
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
#suitphoto {
    margin: 0 auto;
}
#fifth_row {
    text-align: center;
}
#fourth_row {
    text-align: center;
}
#seventh_row {
    text-align: center;
}
#accept_button {
    font-size: large;
    text-align: center;
    border-radius: 5%;
    width: 250px;
    height: 50px;
    margin:auto;
    display:block;
    border: 0;
    color: white;
    background-color: #2a404d;
}
#last_row {
    text-align: center;
}
#logophoto {
    height: 75px;
}
#head_row {
    background-color: #2a404d;
    color: whitesmoke;
}
#third_row {
    background-color: aliceblue;
}