body {
    background-color: crimson;
    color: floralwhite;
}
#catslist {
    color: ivory;
    text-align: left;
    font-size: 17px;
}
footer {
    color: black;
    font-size: 10px;
}
h4 {
    font-size: 50px;
    width: max-content;
    color: white;
    background-color: lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
}
.dogslist
{
    background: radial-gradient(blue, crimson);
    width: max-content;
}
#dogsstyle {
    background-color: blue;
}